* { /*VALORES PARA ARRANCAR EL CÓDIGO CON MARGEN & PADDING EN CERO*/
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
    background: white;
}

#botones{
    text-align: right;
    padding-bottom: 0px;
    padding-inline-end: 30px;
}

.boton{
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    color: #FF5967;
}

.boton:hover { 
    background-color:#FFE0E0;
}

h1 {
    color: #FF5967;
}

nav{
    background:#FFB9BF;
    padding-bottom: 20px;
}


#banner{
    background: #FFE0E0;
    padding: 50px;
    height: 200px;
}

#tituloBanner{
    color: #FF5967;
}

#imagenBanner{
    float:right;
}

#content{
    min-height: (100vh -100px -100px);
}
#textoIzquierda{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    float: left;
    width: 20%;
    text-align: justify;
}

#infoCentro{
    padding-top: 5%;
    float: left;
    width: 30%;
}

#listaDerecha{
    padding-top: 5%;
    text-decoration: none;
    color: white;
    background: #FF5967;
    float: right;
    width: 30%;  
    padding: 2%;
}

.lista{
    color: white;
    padding: 5px;
    text align: left;
    text-decoration: none;
    
}

footer{
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 50%;
   
}